VITE_API_URL=http://localhost:5001/api
VITE_RETAIL_POS_PRODUCT_API_URL=http://localhost:5001/api/products
VITE_RETAIL_POS_EMPLOYEE_API_URL=http://localhost:5001/api/employees
VITE_RETAIL_POS_BRANCH_API_URL=http://localhost:5001/api/branches